<ion-header>
  <ion-navbar>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="!_fb.usuario">
  <!--<ion-card>-->

    <ion-item>
      <ion-avatar item-start>
        <img src="https://placeimg.com/1920/1080/arch">
      </ion-avatar>
      <h2>SJC Bicycles</h2>
      <p>Ingrese sus datos</p>
    </ion-item>

    <!--<img src="https://placeimg.com/1920/1080/tech">-->

   <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-label stacked>Username</ion-label>
          <ion-input [(ngModel)]="email"
                    type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Password</ion-label>
          <ion-input [(ngModel)]="passwd"
                    type="password"></ion-input>
        </ion-item>

      </ion-list>

      <div padding>
        <button (click)="presentLoading(); iniciarSesion()"
                ion-button outline block
                class="btn-outline-primary"
                type="button" name="button">
               <!-- Se usa para cambair de icono sincrono y asincrono y simular el efecto
                    de carga -->
               <span>Iniciar Sesion</span>
              </button>
        <button [navPush]="registro"
                class="btn btn-outline-danger btn-block"
                type="button" name="button">
                 <!-- Se usa para cambair de icono sincrono y asincrono y simular el efecto
                      de carga -->
                 <span>Registrarse</span>
               </button>
      </div>

   </ion-card-content>
</ion-content>
<ion-content padding *ngIf="_fb.usuario as usuarioCambios">
  <ion-card>
    <img src="https://placeimg.com/1920/1080/people">
      <ion-card-content>
        <ion-card-title>
          {{ usuarioCambios.nombre +" "+ usuarioCambios.apellido }}
        </ion-card-title>
        <ion-list>
          <ion-item>
            <ion-label stacked>Nombre</ion-label>
            <ion-input [(ngModel)]="usuarioCambios.nombre"
                      type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Apellido</ion-label>
            <ion-input [(ngModel)]="usuarioCambios.apellido"
                      type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Cedula</ion-label>
            <ion-input [(ngModel)]="usuarioCambios.cedula"
                      type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Fecha de Nacimiento</ion-label>
            <ion-input [(ngModel)]="usuarioCambios.fNacimiento"
                      type="date"></ion-input>
          </ion-item>

        </ion-list>
        <button (click)="actualizarDatos( usuarioCambios )"
                ion-button color="secondary" block>Actualizar Datos</button>
      </ion-card-content>
  </ion-card>
</ion-content>
